@tailwind base;
@tailwind components;
@tailwind utilities;



.MainHeading {
    font-family: 'Noto Sans Regular' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: white;
}

.Subheading {
    font-family: 'Noto Sans Regular' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: white;
}

.RegularText {
    font-family: 'Noto Sans Regular' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: white;
}

.SubText {
    font-family: 'Noto Sans Regular' !important;
    font-style: normal !important;
    font-size: 12px !important;
    color: white;
    line-height: 16px !important;
    font-weight: 400 !important;
}